@tailwind base;
@tailwind components;
@tailwind utilities;

/* BUTTONS */
.login-button {
    @apply text-white transition-all rounded-lg shadow-lg bg-gradient-to-r font-bold from-blue-500 to-blue-700 hover:bg-gradient-to-b dark:shadow-blue-900 shadow-blue-300 hover:shadow-lg hover:shadow-blue-500 hover:transform;
}

.login-button-wide {
    @apply  login-button w-full p-3;
}

.register-button {
    @apply text-white transition-all bg-gray-700 dark:bg-white font-bold dark:text-gray-800 rounded-lg shadow-lg hover:bg-gray-900 hover:text-white shadow-gray-400 dark:shadow-neutral-700 hover:shadow-lg hover:shadow-neutral-600 hover:transform;
}

.register-button-wide {
    @apply register-button w-full p-3;
}

.primary-button-style {
    @apply text-white text-center transition-all rounded-lg shadow-lg bg-gradient-to-r font-bold from-gray-400 to-gray-600 hover:bg-gradient-to-b shadow-gray-300 hover:shadow-lg hover:shadow-gray-500 hover:transform;
}

.primary-button {
    @apply primary-button-style px-3 py-2 mt-2 inline-block text-xs;
}

.primary-button-lg {
    @apply primary-button-style px-3 py-2 mt-2 inline-block text-base;
}

.primary-button-wide {
    @apply primary-button-style px-3 py-2 mt-5 inline-block text-sm w-full;
}

.secondary-button-style {
    @apply text-white transition-all rounded-lg shadow-lg bg-gradient-to-r font-bold from-orange-300 to-orange-500 hover:bg-gradient-to-b shadow-orange-200 hover:shadow-lg hover:shadow-orange-300 hover:transform;
}

.secondary-button {
    @apply secondary-button-style px-3 py-2 mt-2 inline-block text-xs;
}

.secondary-button-wide {
    @apply secondary-button-style px-3 py-2 mt-5 inline-block text-sm text-center w-full;
}

.secondary-button-lg {
    @apply secondary-button-style px-3 py-2 mt-2 inline-block text-base;
}

.danger-button-style {
    @apply text-white transition-all rounded-lg shadow-lg bg-gradient-to-r font-bold from-red-400 to-red-600 hover:bg-gradient-to-b shadow-red-300 hover:shadow-lg hover:shadow-red-500 hover:transform;
}

.danger-button {
    @apply danger-button-style px-3 py-2 mt-2 inline-block text-xs;
}

.danger-button-wide {
    @apply danger-button-style px-3 py-2 mt-5 inline-block text-sm text-center w-full;
}

.danger-button-lg {
    @apply danger-button-style px-3 py-2 mt-2 inline-block text-base;
}

/* TEXT STYLES */
.component-title {
    @apply font-bold text-black border-0 border-l-8 pl-2;
}

.component-title-primary {
    @apply component-title text-2xl md:text-3xl border-blue-400 my-5;
}

.component-title-primary-md {
    @apply component-title text-2xl border-blue-400 my-3;
}

.component-title-secondary {
    @apply component-title text-2xl md:text-2xl font-semibold border-orange-400 my-5 uppercase;
}

.component-title-secondary-md {
    @apply component-title text-2xl font-semibold border-orange-400 my-3;
}

.component-title-secondary-sm {
    @apply component-title text-lg border-orange-400;
}

.component-title-tertiary {
    @apply component-title text-xl font-semibold border-gray-800 my-5 uppercase;
}

.component-title-tertiary-md {
    @apply component-title text-lg font-semibold border-gray-800 my-3;
}

.component-title-tertiary-sm {
    @apply component-title text-sm border-gray-800 my-3;
}

.notification-title {
    @apply text-black border-0 border-l-4 pl-2;
}

.notification-title-unread {
    @apply notification-title font-bold border-green-400;
}

.notification-title-read {
    @apply notification-title border-gray-400;
}

.admin-title {
    @apply text-2xl font-bold mb-6;
}

.admin-title-secondary {
    @apply text-xl font-bold text-gray-600;
}

.link-text {
    @apply text-blue-700 hover:underline cursor-pointer font-semibold my-1;
}

.text-thin {
    @apply font-thin text-sm text-gray-600;
}

.text-normal {
    @apply font-normal text-sm text-gray-600;
}

/* SELECT STYLES */
.select-field {
    @apply w-full bg-white placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-2 pr-6 py-1 transition duration-300 ease-in-out focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer;
}

/* PAGINATION BAR */
.pagination-btn {
    @apply relative flex items-center justify-center font-medium min-w-[2rem] px-1.5 h-8 -my-3 rounded-md outline-none transition;
    @apply hover:bg-gray-500/5 focus:bg-yellow-500/10 focus:ring-2 focus:ring-yellow-500 dark:hover:bg-gray-400/5 focus:text-yellow-600;
}

.pagination-btn.active {
    @apply text-yellow-600 focus:underline bg-yellow-500/10 ring-2 ring-yellow-500;
}

.pagination-ellipsis {
    @apply px-2 text-gray-400;
}

 /* SCROLLBARS */
.custom-scrollbar::-webkit-scrollbar {
    @apply h-2.5;
}
  
.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-blue-500 rounded-xl;
}
  
.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-xl;
}

/* CONTAINERS */
.page {
    @apply w-full flex flex-col items-start justify-center max-w-4xl mx-auto px-4;
}

.home-page-container {
    @apply container mx-auto p-6 max-w-4xl;
}

.container-box {
    @apply bg-white p-6 rounded-lg shadow-lg;
}

.list-box {
    @apply grid grid-cols-1 gap-4 my-5 px-1 w-full;
}

.list-box-item {
    @apply p-4 flex flex-col justify-between gap-2 border rounded-lg shadow-md bg-white;
}

.settings-box {
    @apply flex flex-col py-4 justify-between gap-2 border rounded-lg shadow-md bg-white;
}

.notification-box-item {
    @apply p-4 flex flex-col justify-between gap-2 border rounded-lg shadow-md;
}

.notification-box-item-read {
    @apply notification-box-item bg-white;
}

.notification-box-item-unread {
    @apply notification-box-item bg-orange-100;
}

.form-box {
    @apply bg-white px-2 py-8 md:p-8 rounded-lg shadow-lg w-full;
}


/* INPUTS */
.input-field {
    @apply w-full p-3 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500;
}

.input-field-start-half {
    @apply inline-flex items-center p-3 mt-2 rounded-l-lg border border-r-0 border-gray-500 bg-gray-200 px-3 text-gray-500 text-xs md:text-base;
}

.input-field-end-half {
    @apply w-full p-3 mt-2 border border-l-0 border-gray-300 rounded-r-lg focus:outline-none focus:border-blue-500;
}

.input-form-error {
    @apply text-red-500 text-xs mt-1;
}

.status-input-field {
    @apply input-field appearance-none bg-gray-100 border border-gray-300 text-gray-900 px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500;
}

/* BADGES */

.badge-status {
    @apply py-1.5 px-2.5 rounded-full flex justify-center w-20 items-center gap-1;
}

.badge-status-active {
    @apply badge-status bg-emerald-50 text-emerald-600;
}

.badge-status-inactive {
    @apply badge-status bg-red-50 text-red-600;
}

.tag-badge {
    @apply relative inline-flex gap-2 items-center border-2 border-orange-500 bg-orange-50 px-4 py-2 rounded-lg text-sm my-2 mr-2;
}

.tag-badge-text {
    @apply capitalize text-orange-700 text-sm md:text-xl;
}

/* IMAGE */
.profile-image {
    @apply rounded-full w-48 h-48 mx-auto mb-4 transition-transform duration-300 hover:scale-105 ring ring-gray-300;
}

.profile-image-sm {
    @apply size-8 rounded-full;
}

/* TABLES */

.table-container {
    @apply border rounded-lg border-gray-300 flex space-x-1 overflow-x-auto whitespace-nowrap custom-scrollbar w-full;
}

.table-style {
    @apply table-auto w-full rounded-xl;
}

.table-title {
    @apply py-3 text-xs text-center font-medium text-gray-500 uppercase tracking-wider;
}

.table-item {
    @apply px-4 py-3 whitespace-nowrap text-sm text-center leading-6 font-medium text-gray-900;
}

.table-button {
    @apply w-10 h-10 flex items-center justify-center rounded-full bg-white transition-all duration-500;
}

/* CARDS */

.card-container {
    @apply flex items-center bg-white border rounded-sm overflow-hidden shadow;
}

.card-icon-part {
    @apply p-4 h-full;
}

.card-items-part {
    @apply px-4 text-gray-700;
}

.mini-list-container {
    @apply bg-white rounded-lg shadow-sm border border-gray-100 overflow-hidden transition-shadow hover:shadow-md;
}

.mini-list-title-container {
    @apply bg-gradient-to-r from-gray-100 to-gray-300 py-2 px-4 border-b border-gray-200;
}

.mini-list-title {
    @apply font-semibold text-gray-700 text-sm uppercase tracking-wide;
}

.mini-list-item-container {
    @apply divide-y divide-gray-100 cursor-pointer;
}

.mini-list-item {
    @apply flex items-center py-3 px-4 transition-colors duration-200 hover:bg-orange-50;
}

/* TAB MENUS */

.tab-container {
    @apply flex space-x-1 my-2 p-1 rounded-md bg-black overflow-x-auto whitespace-nowrap custom-scrollbar w-full;
}

.tab-button {
    @apply w-full rounded-lg py-2.5 px-5 text-base font-semibold leading-5;
}

.tab-button-selected {
    @apply tab-button bg-white text-blue-700 font-bold shadow;
}

.tab-button-inselected {
    @apply tab-button text-white hover:bg-white/[0.12] hover:text-blue-300;
}

.tab-notifications-badge {
    @apply ml-2 inline-flex items-center justify-center h-4 w-4 text-xs bg-red-500 text-white rounded-full;
}

.tab-panel {
    @apply py-3 ring-white/60 ring-offset-2 ring-offset-blue-400 focus:outline-none focus:ring-2;
}

.tab-panel-list {
    @apply border-gray-400 border-l-4;
}

.tab-panel-item {
    @apply relative rounded-md p-3 hover:bg-gray-100;
}

/* DATEPICKER */

.dp__theme_light {
    --dp-background-color: #fff;
    --dp-text-color: #212121;
    --dp-hover-color: #fdba74;
    --dp-hover-text-color: #fff;
    --dp-hover-icon-color: #fff;
    --dp-primary-color: #f97316;
    --dp-primary-disabled-color: #6bacea;
    --dp-primary-text-color: #f8f5f5;
    --dp-secondary-color: #c0c4cc;
    --dp-border-color: #ddd;
    --dp-menu-border-color: #ddd;
    --dp-border-color-hover: #aaaeb7;
    --dp-border-color-focus: #aaaeb7;
    --dp-disabled-color: #f6f6f6;
    --dp-scroll-bar-background: #f3f3f3;
    --dp-scroll-bar-color: #959595;
    --dp-success-color: #76d275;
    --dp-success-color-disabled: #a3d9b1;
    --dp-icon-color: #959595;
    --dp-danger-color: #ff6f60;
    --dp-marker-color: #ff6f60;
    --dp-tooltip-color: #fafafa;
    --dp-disabled-color-text: #8e8e8e;
    --dp-highlight-color: rgb(25 118 210 / 10%);
    --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
    --dp-range-between-border-color: var(--dp-hover-color, #f3f3f3);
}